/* colours */
:root{
    --primary: #c4f9c5;
    --secondary: #c4f9c5;
    --name: #1C6E55;
}

/* layout styles */
nav{
    background: var(--primary);
    border-bottom: 10px solid var(--secondary);
}
nav a{
    text-transform: uppercase;
    color: var(--name);
}

nav a span{
    font-weight: bold;
    font-size: 20px;
}
nav .sidenav-trigger{
    margin: 0;
    color: var(--name);
}


/* place styles */
.places{
    margin-top: 20px;
    display: grid;
    /* make the grid responsive*/
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    grid-gap: 15px;
}
.card-panel.place{
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.place img{
    grid-area: image;
    width: 100%;
    margin-bottom: 8px;
    height: 300px;
    object-fit: cover;
}

.place-details{
    grid-area: details;
    margin-bottom: 5px;
}

.place-delete{
    grid-area: delete;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
.place-delete i{
    font-size: 18px;
}
.place-name{
    font-weight: bold;
}
.place-city{
    font-size: 0.8em;
}

/* form-styles */
.add-btn{
    background: var(--name) !important;
    margin-top: 10px;
}
input{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.side-form button{
    background: var(--name);
}
form .input-field{
    margin-top: 18px;
    margin-right: 20px;
}

.btn{
    background: var(--name);
}

#side-form video, #side-form canvas {
    width: 512px;
    max-width: 100%;
    display: none;
    margin: auto;
}

#side-form #pick-image {
    display: none;
}

#side-form #capture-btn {
    margin-bottom: 10px;
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    bottom: 20px;
    background-color: var(--name);
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1.0);
    border-radius: 50%;
}

#location-button{
    /* Style the form icons */
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  
}
